
.title h1{
font-family: 'El Messiri', sans-serif !important;
  text-align: center;
  background: -webkit-linear-gradient(#333300 0%,#d6ba00 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 33px !important;
  color: #000 !important;
  position: relative !important;
  font-weight: bold !important;
  border-bottom: solid transparent;
  border-image: linear-gradient(#333300 50%,#d6ba00 50%);
  border-image-slice: 1;
  width: 80%;
  margin: auto;
margin-top: 4%;
margin-bottom: 2% !important;
padding: 1%;
}

.container {
  margin-top: 6%;
}

.logo {
  width: 5%;
}

.MAS {
  color: white;
  background-color: black;
}
