<div class="card-create">
  <h1 class="title" *ngIf="mode === 'create'">Ajouter coupe</h1>
  <h1 class="title" *ngIf="mode === 'edit'">Modifier coupe</h1>
<mat-card>

  <form [formGroup]= "form" (submit)= "onenregistrergistrerCoupe()" >
    <mat-form-field>
      <input matInput
      type="text"
      formControlName="titre"
      placeholder="titre">
      <mat-error *ngIf= "form.get('titre').invalid">obligatoire</mat-error>
    </mat-form-field>
    <div>
      <button mat-mat-stroked-button
      type="button"
      (click)= "filePicker.click()">choisir image </button>
      <input type="file" #filePicker (change)= "onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf= "imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]= "imagePreview" [alt]= "form.value.titre">
    </div>
    <mat-form-field>
      <input matInput
      type="text"
      formControlName="nombre"
      placeholder="nombre">
      <mat-error *ngIf= "form.get('nombre').invalid">obligatoire</mat-error>
    </mat-form-field>
    <div class="text-center"><button class="text-center yellow" mat-raised-button type="submit">enregistrergistrer coupe</button></div>
  </form>
</mat-card>
</div>
