<div *ngIf="!isLoading">
<app-header></app-header>
<div class="container">
  <div class="title">
    <h1>COMITE</h1>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let comite of comites">
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" class="w-100" mdbWavesEffect>
          <mdb-card-img [src]="comite.imagePath"></mdb-card-img>
        </div>
        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          <h4 class="card-title">
            <strong>{{comite.nom}}</strong>
          </h4>
          <h5>{{comite.role}}</h5>
        </mdb-card-body>
      </mdb-card>
    </div>
</div>
</div>
<app-footer></app-footer>
</div>
